<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>2-5: CSS Units</title>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			html {
				min-height: 100%;
				width: 100%;
				overflow-x: hidden;
			}

			body {
  				background-color: #f4f1ea;
			}

			article {
  				background-color: #e8efe6;
			}

			section {
  				background-color: #e6edf5;
			}

			h1 {
  				background-color: #d9e4dd;
			}

			h2 {
  				background-color: #e7ddd6;
			}

			h1, h2 {
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<!-- Text is from Wikipedia -->
		<article>
			<h1>Chiikawa (吉伊卡哇)</h1>
			<section>
				<h2>Chiikawa (ちいかわ)</h2>
				Chiikawa is the titular protagonist of the manga and the anime series. Early on, Chiikawa was named as Nitori. Chiikawa is depicted as timid and tearful, afraid of monsters, and living in a house won in the Muchauma Yogurt lottery. Chiikawa, unlike some other characters, cannot speak in a way that is intelligible to the audience, only saying things such as "yada" and "iya", both of which are child-like ways of saying "no" in Japanese. It expresses itself primarily through sounds, but it is understandable to the rest of the cast.
			</section>
			<section>
				<h2>Hachiware (ハチワレ)</h2>
				Hachiware, originally named Ikeya, is a friend of both Chiikawa and Usagi and lives in a cave. Hachiware's name and design are based on those of a bicolor cat, though it is not one. Hachiware is depicted as chatty, curious and optimistic, as well as being kind-hearted and willing to help its friends, especially Chiikawa.
			</section>
			<section>
				<h2>Usagi (うさぎ)</h2>
				Usagi, originally named Donki, is a friend of both Chiikawa and Hachiware. Depicted as high-spirited, Usagi occasionally acts as a troublemaker, though it supports its friends when they are in trouble. Similar to Chiikawa, Usagi is unintelligible to the audience, making noises such as "una" and "yaha", but is understandable to the other characters. Usagi's name and design is based on those of a rabbit, though it "may or may not" be one. Usagi is mainly known for being eccentric and a foodie.
			</section>
		</article>
	</body>
</html>