@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Copse&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-size: 1.8vh;
	line-height: 2.7vh;
	font-family: Copse, serif;
	color: #191d32;
	background-color: white;
}

h1, sub {
	font-family: Concert One, sans-serif;
}

h1 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	color: #282f44;
}

sub {
	font-size: 1.6vh;
	line-height: 2.4vh;
}

h1, sub, p {
	margin: 1vh 0;
}

nav {
	position: fixed;
	top: 0;
	right: 75vw;
	background-color: #111111;
	color: white;
	/* Set a fixed with for the navigation pane, so the menu takes 10% of viewport width */
	width: 10vw;
	/* Align the menu item text to the horizontal center */
	text-align: center;
}

nav > p {
	padding: 5px;
}

/* Make the mouse cursor a pointer for the first menu item <p> in the navigation pane,
	which is the hamburger menu.
 */
nav > p:first-of-type {
	cursor: pointer;
}

/* Hide non-first menu items in the navigation menu by default. Their appearance is
   controlled by JavaScript in script.js.
 */
nav > p:not(:first-of-type) {
	display: none;
}

nav > p:hover {
	opacity: 0.7;
}

nav > p > a, nav > p > a:visited:hover, nav > p > a:visited {
	color: white;
	text-decoration: none;
}

article {
	width: 60vw;
	margin-left: 25vw;
}

article > section:last-of-type {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

figure {
	position: relative;
	width: 20vw;
	margin: 1vh 2vw;
}

figure > img {
	width: 20vw;
	border-radius: 10px;
}

figure > figcaption {
	position: absolute;
	top: 10px;
	left: 0;
	background-color: white;
	padding: 5px;
	opacity: 0.7;
}