* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: pink;
	font-size: 2.4vh;
	line-height: 3.6vh;
	font-family: serif;
}

/* These settings apply to both <nav> elements since they do not have to change
   in different viewports. */
nav {
	/*
		Explanation:
			1. position: fixed removes the element from the normal document flow.
			2. Its position is relative to the viewport, not to <article>.
			3. top: 0 puts it at the top edge of the viewport.
	*/
	position: fixed;
	width: 80%;
	margin-left: 10%;
	background-color: limegreen;
}

/* In a wider viewport, show the <nav> element whose ID is "desktop" 
   by setting "display" to "block", since <nav> is by default a block element.
   At the same time, set "top" to 0 so the "desktop" menu is fixed to the top
   of the webpage.
*/
nav#desktop {
	display: block;
	top: 0;
}

/* In a wider viewport, hide the <nav> element whose ID is "mobile" 
   by simply setting "display" to "none".
*/
nav#mobile {
	display: none;
}

h1 {
	font-size: 4.8vh;
	line-height: 7.2vh;
	padding: 2vh 0;
}

h2 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	padding: 1.5vh 0;
}

h1, h2, nav {
	font-family: sans-serif;
	text-align: center;
}

h1, h2 {
	background-color: blanchedalmond;
}

article {
	width: 80%;
	margin-left: 10%;
	/* 
		In the original layout (see the HTML files), <nav> is placed above <article>, but since <nav> is set to have
		a fixed position, <nav> is taken out from the original document "flow". The space it left on the webpage is
		occupied by this <article>, and <nav> can partially overlap with <article>, which is bad. Thus, we set a
		top margin for <article> to reserve the space for <nav> and avoid the overlap between the two elements.
	 */
	margin-top: 8vh;
}

section {
	margin: 1.5vh 0;
	background-color: tomato;
}

p {
	margin: 1vh 0;
	padding: 1vh;
	background-color: white;
}

@media only screen and (max-width: 1024px) {
	/* In a narrower viewport, hide the <nav> element whose ID is "desktop" 
   		by simply setting "display" to "none".
	*/
	nav#desktop {
		display: none;
	}

	/* In a narrower viewport, show the <nav> element whose ID is "mobile" 
   		by setting "display" to "block", since <nav> is by default a block element.
   		At the same time, set "bottom" to 0 so the "mobile" menu is fixed to the bottom
   		of the webpage.
	*/
	nav#mobile {
		display: block;
		bottom: 0;
	}
}