* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: pink;
	font-size: 2.4vh;
	line-height: 3.6vh;
	font-family: serif;
}

nav {
	/*
		Explanation:
			1. position: fixed removes the element from the normal document flow.
			2. Its position is relative to the viewport, not to <article>.
			3. top: 0 puts it at the top edge of the viewport.
	*/
	position: fixed;
	top: 0;
	width: 80%;
	margin-left: 10%;
	background-color: limegreen;
	/* Make the <nav> element a flex container */
	display: flex;
	/* Arrange the flex items in a horizontal line */
	/* Here, the three hyperlinks in this <nav> element will be placed in one row */
	flex-direction: row;
	/* Spread the hyperlinks evenly across the row */
	/* This adds even horizontal space around the three links */
	justify-content: space-evenly;
}

/* Hide the hamburger menu in a wide/desktop viewport by default, since all menu items
   appear in the menu floating at the top of the viewport. */
nav > span {
	display: none;
}

h1 {
	font-size: 4.8vh;
	line-height: 7.2vh;
	padding: 2vh 0;
}

h2 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	padding: 1.5vh 0;
}

h1, h2, nav {
	font-family: sans-serif;
	text-align: center;
}

h1, h2 {
	background-color: blanchedalmond;
}

article {
	width: 80%;
	margin-left: 10%;
	/* 
		In the original layout (see the HTML files), <nav> is placed above <article>, but since <nav> is set to have
		a fixed position, <nav> is taken out from the original document "flow". The space it left on the webpage is
		occupied by this <article>, and <nav> can partially overlap with <article>, which is bad. Thus, we set a
		top padding for <article> to reserve the space for <nav> and avoid the overlap between the two elements.
	 */
	padding-top: 8vh;
}

section {
	margin: 1.5vh 0;
	background-color: tomato;
}

p {
	margin: 1vh 0;
	padding: 1vh;
	background-color: white;
}

@media only screen and (max-width: 1200px) {
	/* Reshape the <nav> element so it becomes a floating menu in the top-left corner 
	   in a narrow viewport (See style.css in 12-1 for explanations)
	*/
	nav {
		width: 20%;
		margin-left: 0;
		flex-direction: column;
		left: 0;
	}

	/* Display the hamburger menu symbol in a narrow/mobile viewport by default, which serve as 
	   a button to show all menu items (see script.js). The value is "inline" It is "inline" 
	   because a <span> element is by default part of a text line. */
	nav > span {
		display: inline;
	}

	/* Hide all menu symbols in a narrow/mobile viewport by default, which appear only when
	   users click on the hamburger menu symbol (see script.js) */
	nav > a {
		display: none;
	}
}
