* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: #f4f1ea;
    overflow-x: hidden;
}

figure {
    height: 100%;
    /* There's no need to use text-align to align all three images in <figure>
       to the horizontal center. */
    /* text-align: center; */
    background-color: lightyellow;
}

figure {
    /* Make the figure a flex container (i.e., a "flex-box") */
    display: flex;
    /* Align items along the cross axis */
    /* With flex-direction: row, this controls vertical alignment */
    align-items: center;
    /* Distribute items evenly along the main axis */
    /* With flex-direction: row, this spreads items horizontally */
    justify-content: space-evenly;
    /* Arrange the flex items in a horizontal row */
    flex-direction: row;
}

img {
    width: 20vw;
    border-radius: 20vw;
}

@media only screen and (max-width: 1024px) {
    figure {
        /* On screens 1024px wide or smaller (which is likely a portrait view of a mobile device),
           change the item direction from row to column, so the items can be positioned from the top
           to the bottom to fit the browser viewport on a mobile device.*/
        flex-direction: column;
    }

    /* Enlarge the images since the 20% of viewport width in a mobile browser
       is a bit narrow.  */
    img {
        width: 80vw;
        border-radius: 80vw;
    }
}